<mat-toolbar color="primary">
  <h2>Persons</h2>
  <button mat-icon-button>
    <mat-icon>add-box</mat-icon>
  </button>
</mat-toolbar>

<section>
  <mat-nav-list>
    <mat-list-item *ngFor="let person of persons$ | async">
      <app-person-item [person]="person" [routerLink]="['person/detail', person.id]"></app-person-item>
      <button mat-icon-button><mat-icon>edit</mat-icon></button>
      <button (click)="deletePerson(person)" mat-icon-button><mat-icon>delete</mat-icon></button>
    </mat-list-item>
  </mat-nav-list>


  <div class="row">


  </div>
</section>
